<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.camera.demol" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestCameraActivity"
            android:label="@string/title_activity_test_camera" >
        </activity>
    </application>

    <uses-permission android:name = "android.permission.CAMERA" />

    <uses-feature android:name = "android.hardware.camera" />

    <uses-feature android:name = "android.hardware.camera.autofocus" />

    一般拍照和摄像的时候需要写到sd卡上，所以还有一向权限声明如下

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    真做摄像功能时，需要音频录制和视频录制功能，所以又需要下面两项权限声明

    <uses-permission android:name="android.permission.RECORD_VIDEO"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

</manifest>
